@import '../../styles';


footer.main-footer.tall {
	height: 140px;
	.contact, .social, .tos {
		opacity: 1;
	}


}
footer.main-footer {
	transition: all 0.3s cubic-bezier(0.715, 0.005, 0.130, 1.425);
	display: flex;
	position: fixed;
	bottom: 0;
 	z-index: 100;
	width: 100%;
	justify-content: space-around;
	align-items: center;
	background-color: $primary;
	font-family: Montserrat;
	font-weight: 200;
	height: 20px;
	cursor: pointer;
	
	.tos {
		opacity: 0;
		transition: all 0.3s cubic-bezier(0.715, 0.005, 0.130, 1.425);
		div.flaticon, a  {
			font-size: 8px;
			color: $fifth;
				a, div {
					text-decoration: none;
					color: $third;
				}
		}
	}
	.social {
		opacity: 0;
		transition: all 0.3s cubic-bezier(0.715, 0.005, 0.130, 1.425);
		.mat-icon-button {
			width: 50px;
			height: 50px;
			line-height: 50px;
			text-align: center;
			.mat-icon {
				font-size: 40px;
				color: $fifth;
				text-align: center;
				width: auto;
				height: auto;
			}
		}
	}
	.contact {
		opacity: 0;
		transition: all 0.3s cubic-bezier(0.715, 0.005, 0.130, 1.425);
		h3 {
			font-weight: 900;
			color: $fifth;
		}
		ul {
			margin: 5px 0;
			li {
				list-style-type: none;
				color: $fifth;
				font-size: 14px;
			}
		}
	}
	.copyrights {
		position: absolute;
		top: -10px;
		left: 50%;
		transform: translateX(-50%);
		background-color: $primary;
		height: 30px;
		transition: all 0.3s cubic-bezier(0.715, 0.005, 0.130, 1.425);
		box-sizing: border-box;
		padding:  3px 10px;
		border-radius: 15px 15px 0 0;
		p {
			
			font-size: 12px;

			color: $third-aggressive;
			text-align: center;
		}
	}
}
footer.main-footer.inbox {
	background-color: $third-aggressive;
		.copyrights {
		color: $fifth;
		background-color: $third-aggressive;
		p {
			color: $fifth;
		}
		div.flaticon {
			color: $fifth;
			a {
				color: $fifth;
			}
		}
	}

}
@media(max-width:768px) {
	footer.main-footer {
		.social {
			.mat-icon-button {
				width: 30px;
				height: 30px;
				.mat-icon {
					width: 20px;
					height: 20px;
					font-size: 20px;
				}
			}
		}
		.contact {
			h3 {
				font-size: 13px;

			}
			ul {
				li {
					font-size: 10px;
					margin: 2px 0;
					.mat-icon {
						height: auto;
					}
				}
			}
		}
	}
}
