<section class="tennant-panel">
	<md-icon svgIcon='my-tennants'></md-icon>
	<h1>Panel wynajmu</h1>
	<article>
		<ng-container *ngIf='!userAgreements && loading'>
			<div class="loading">
				<md-spinner color='accent'></md-spinner>
			</div>
		</ng-container>
		<ng-container *ngIf='!userAgreements && !loading'>
			<div class="no-data">
				<p>Brak umów</p>
			</div>
		</ng-container>
		<ng-container *ngIf='userAgreements'>
			<div class="agreements-container">
				<div class="agreement-row" *ngFor="let agr of userAgreements">
					<div class="agreement card-1" >
						<img class="card-2" [src]='url + agr.offer.images[0].path' alt="offer image">
						<div class="status card-1">
							status:
							<span *ngIf='agr.agreementStatus === "Waiting_for_landlord"'>Oczekiwanie na wypełnienie danych przez właściciela</span>
							<span *ngIf='agr.agreementStatus === "Waiting_for_tennant"'>Oczekiwanie na wypełnienie przez wynajmującego</span>
							<span *ngIf='agr.agreementStatus === "Generating_the_contract"'> Kontrakt wygenerowany</span>
							<span *ngIf='agr.agreementStatus === "signed"'>Kontrakt podpisany</span>
						</div>
						<h3>{{agr.offer.offerTitle}}</h3>
						<h4>{{agr.offer.facilityFormattedAddress}}</h4>
					
					</div>

					<div class="panel card-1" [ngClass]='{"centered": agr.agreementStatus === "Waiting_for_landlord", "summary": agr.agreementStatus === "signed"}'>
						<div class="wrapper">
							<ul class="prices">
								<li class="card-1" mdTooltip='Czynsz miesięczny'><md-icon svgIcon='monthlyFee'></md-icon> <span>{{agr.bid.BidMonthlyFee}} PLN</span></li>
								<li class="card-1" mdTooltip='Kaucja'><md-icon svgIcon='deposit'></md-icon> <span>{{agr.bid.BidDeposit}} PLN</span></li>
								<li class="card-1" mdTooltip='Okres umowy'> <md-icon svgIcon='contract'></md-icon> <span>{{agr.bid.bidContractDuration}} m.</span></li>
								<li class="card-1" mdTooltip='Data wprowadzenia'><md-icon svgIcon='box'></md-icon> <span>{{agr.bid.bidMoveInDate | date}}</span></li>
							</ul>
						</div>
						<div class="wrapper wiz">
							<h4>Postęp: </h4>
							<ul class="wizard">
								<li mdTooltip='Poczekaj, aż właściciel wypełni dane.' class="card-1" [ngClass]='{"highlighted": agr.agreementStatus === "Waiting_for_landlord"}' >1<md-icon *ngIf='["Waiting_for_tennant", "Generating_the_contract", "Signed"].indexOf(agr.agreementStatus)>=0' class='mdi mdi-checkbox-marked-circle'></md-icon></li>
								<li mdTooltip='Wypełnij brakujące dane, żeby wygenerować kontrakt.' class="card-1" [ngClass]='{"highlighted": agr.agreementStatus === "Waiting_for_tennant"}' >2<md-icon *ngIf='[ "Generating_the_contract", "Signed"].indexOf(agr.agreementStatus)>=0' class='mdi mdi-checkbox-marked-circle'></md-icon></li>
								<li [ngClass]='{"highlighted":agr.agreementStatus === "Generating_the_contract"}' mdTooltip='Kontrakt wygenerowany' class="card-1">3<md-icon *ngIf='["Signed"].indexOf(agr.agreementStatus)>=0' class='mdi mdi-checkbox-marked-circle'></md-icon></li>
								<li [ngClass]='{"highlighted":agr.agreementStatus === "signed"}' mdTooltip='Kontrakt podpisany' class="card-1">4</li>
							</ul>
							<h5 *ngIf='agr.agreementStatus==="signed"'>Kontrakt został podpisany</h5>
						</div>
						<div class="status-started" *ngIf='agr.agreementStatus==="Waiting_for_tennant"'>
							<div class="wrapper">
								<button md-icon-button class="card-1" (click)='tennantDetailsDialog(agr)'><md-icon class='mdi mdi-feather'></md-icon></button>
							</div>
						</div>
						<div class="status-waiting-for-tennant" *ngIf='agr.agreementStatus==="Waiting_for_"'>
							<div class="change-data">
								<h4>Twoje dane: </h4>
								<md-icon (click)='tennantDetailsDialog(agr)' svgIcon='editpen'></md-icon>
							</div>							
							
							<ul>
								<li>Numer telefonu: <span>{{agr.tennantTelephoneNumber}}</span></li>
								<li>Numer dowodu: <span>{{agr.tennantIdNumber}}</span></li>
								<li>Adres zameldowanie dowodu: <span>{{agr.tennantResidencePlace}}</span></li>
							</ul>
						</div>
						<div class="status-generating-contract" *ngIf='agr.agreementStatus==="Generating_the_contract"'>
							<div class="wrapper">
								<button mdTooltip='Pobierz kontrakt' md-icon-button class="card-1"><md-icon class='mdi mdi-file-document'></md-icon></button>
								<button mdTooltip='Podpisz kontrakt' md-icon-button class="card-1"><md-icon class='mdi mdi-marker-check'></md-icon></button>
							</div>
						</div>
						<div class="my-data" *ngIf='agr.agreementStatus==="Generating_the_contract"'>
							<div class="change-data">
								<h4>Twoje dane: </h4>
							</div>							
							<ul>
								<li>Numer telefonu: <span>{{agr.tennantTelephoneNumber}}</span></li>
								<li>Seria i numer dowodu: <span>{{agr.tennantIdSeries}} {{agr.tennantIdNumber}}</span></li>
								<li>Adres zameldowania: <span>{{agr.tennantStreet}} {{agr.tennantBuildingNumber}}<span *ngIf='agr.tennantApartmentNumber'>/{{agr.tennantApartmentNumber}}</span>, {{agr.tennantCity}}</span></li>
							</ul>
						</div>
						<div class="after-signed wrapper" *ngIf='agr.agreementStatus === "signed"'>
							<div class="additional-services">
								<h5>Skorzystaj z naszych dodatkowych usług:</h5>
								<div class="button-wrapper">
									<button md-icon-button (click)='showDialogCleaning(agr)' class='card-1' mdTooltip='Sprzątanie mieszkania'><md-icon svgIcon='cleaning'></md-icon></button>
									<button md-icon-button (click)='showDialogBroken(agr)' class='card-1' mdTooltip='Naprawa usterek'><md-icon svgIcon='broken'></md-icon></button>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</ng-container>
		
	</article>
</section>