<section class="tennant-details-dialog">
	<h1>Uzupełnij swoje dane:</h1>
	<form>
        <div class="wrapper id">
          <div class="input-wrapper serie">
      <input type="text" placeholder='seria dowodu' class=" card-1 inpt lg form-control"
               required
               [(ngModel)]="idSeries" name="idseries"
               #IdSeries="ngModel">
               <md-hint mdTooltip='Pole wymagane!' class='alert' *ngIf="IdSeries.errors && (IdSeries.dirty || IdSeries.touched)" ><i class="mdi mdi-alert"></i></md-hint>
        <md-hint class='success' *ngIf="(IdSeries.dirty || IdSeries.touched) && !IdSeries.focus
        && IdSeries.valid" [ngStyle]="{'color': 'red'}"> <i class="mdi mdi-check"></i></md-hint>
          </div>
      <div class="input-wrapper number">
        <input type="text" placeholder='numer dowodu' class=" card-1 inpt lg form-control"
                 required
                 [(ngModel)]="idNumber" name="idnumber"
                 #IdNumber="ngModel">
                 <md-hint mdTooltip='Pole wymagane!' class='alert' *ngIf="IdNumber.errors && (IdNumber.dirty || IdNumber.touched)" ><i class="mdi mdi-alert"></i></md-hint>
          <md-hint class='success' *ngIf="(IdNumber.dirty || IdNumber.touched) && !IdNumber.focus
          && IdNumber.valid" [ngStyle]="{'color': 'red'}"> <i class="mdi mdi-check"></i></md-hint>
          </div>
        </div>
        <h3>Dane zameldowania: </h3>
        <div class="input-wrapper">
      <input type="text" placeholder='Miasto' class=" card-1 inpt lg form-control"
               required
               [(ngModel)]="city" name="city"
               #City="ngModel">
               <md-hint mdTooltip='Pole wymagane!' class='alert' *ngIf="City.errors && (City.dirty || City.touched)" ><i class="mdi mdi-alert"></i></md-hint>
        <md-hint class='success' *ngIf="(City.dirty || City.touched) && !City.focus
        && City.valid" [ngStyle]="{'color': 'red'}"> <i class="mdi mdi-check"></i></md-hint>
        </div>
        <div class="input-wrapper">
      <input type="text" placeholder='Ulica' class=" card-1 inpt lg form-control"
               required
               [(ngModel)]="street" name="street"
               #Street="ngModel">
               <md-hint mdTooltip='Pole wymagane!' class='alert' *ngIf="Street.errors && (Street.dirty || Street.touched)" ><i class="mdi mdi-alert"></i></md-hint>
        <md-hint class='success' *ngIf="(Street.dirty || Street.touched) && !Street.focus
        && Street.valid" [ngStyle]="{'color': 'red'}"> <i class="mdi mdi-check"></i></md-hint>
        </div>
        <div class="wrapper">
          <div class="input-wrapper">
      <input type="text" placeholder='Numer budynku' class=" card-1 inpt lg form-control"
               required
               [(ngModel)]="buildingNumber" name="buildingNumber"
               #BuildingNumber="ngModel">
               <md-hint mdTooltip='Pole wymagane!' class='alert' *ngIf="BuildingNumber.errors && (BuildingNumber.dirty || BuildingNumber.touched)" ><i class="mdi mdi-alert"></i></md-hint>
        <md-hint class='success' *ngIf="(BuildingNumber.dirty || BuildingNumber.touched) && !BuildingNumber.focus
        && BuildingNumber.valid" [ngStyle]="{'color': 'red'}"> <i class="mdi mdi-check"></i></md-hint>
          </div>
          <div class="input-wrapper">
      <input type="text" placeholder='Numer mieszkania' class=" card-1 inpt lg form-control"
               required
               [(ngModel)]="apartmentNumber" name="apartmentNumber"
               #ApartmentNumber="ngModel">
        <md-hint class='success' *ngIf="(ApartmentNumber.dirty || ApartmentNumber.touched) && !ApartmentNumber.focus
        && ApartmentNumber.valid" [ngStyle]="{'color': 'red'}"> <i class="mdi mdi-check"></i></md-hint>
          </div>
        </div>
        <button md-button (click)='uploadLandlordDetails()' [disabled]='!buildingNumber  || !idSeries || !city || !street || !idNumber'>WYŚLIJ DANE</button>
	</form>
</section>