<section class="forgot">
	<article class="card-1">
		<h1>Zapomniałem hasła</h1>
		<form class="" *ngIf='!authToken'>
         <h3>Podaj email, na który zostanie wysłana wiadomość z linkiem do zmiany hasła.</h3>
			<div class="input-wrapper">
			<input type="email" placeholder='email' class=" card-1 inpt lg form-control"
               required
               [(ngModel)]="email" name="email" pattern='^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$'
               #Email="ngModel">
               <md-hint mdTooltip='Pole wymagane!' class='alert' *ngIf="Email.errors && (Email.dirty || Email.touched)" ><i class="mdi mdi-alert"></i></md-hint>
               <md-hint mdTooltip='Niepoprawny email!' class='alert' *ngIf="Email.errors && (Email.dirty || Email.touched)" ><i class="mdi mdi-alert"></i></md-hint>
				<md-hint class='success' *ngIf="(Email.dirty || Email.touched) && !Email.focus
				&& Email.valid" [ngStyle]="{'color': 'red'}"> <i class="mdi mdi-check"></i></md-hint>
            </div>
               <re-captcha
                [(ngModel)]="captcha"
                name="captcha"
                required
                (resolved) = 'captcha=true'
                siteKey="6LcIsiEUAAAAAK8U1ZAt1FBloyTqVPOW6oS48EOq"
                #captchaControl="ngModel" ngDefaultControl>
               </re-captcha>
            <div *ngIf='isLoading' class="spinner">
               <md-spinner color='accent'></md-spinner>
            </div>
            <p>{{messageAfterSubmit}}</p>
              <div class="loading" *ngIf='isLoadingToken'>
                  <md-spinner color=accent ></md-spinner>
                </div>
               <button md-button [disabled]='!email || Email.errors || !captchaControl.valid' (click)='sendToken(); Email.reset(); captchaControl.reset()'>WYŚLIJ</button>
		</form>
    <div class="restoring-password" *ngIf='authToken'>
        <div class="loading" *ngIf='isLoading'>
            <md-spinner color=accent ></md-spinner>
        </div>
        <h2>{{messageRestore}}</h2>
    </div>
	</article>
</section>