@import '../../styles';
.forgot {
   
   background-color: $secondary;
   min-height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   .spinner {
      text-align: center;
      margin: 10px 0;
      transition: margin 0.5s;

      .mat-spinner {
         height: 35px;
         width: 30px;
         margin: 0 auto;
      }
   }
   article 
   { 
      width: 350px;
      background-color: $primary;

      .restoring-password {
         h2 {
            color: $fifth;
            text-align: center;
            font-weight: 200;
            margin: 30px 0;
         }
         .loading {
            md-spinner {
               margin: 30px auto;
            }
         }
      }
      h1 {
         font-size: 30px;
         color: #efefef;
         font-weight: 900;
         text-align: center;
         margin: 15px 0;
      }
      p {
         color: #efefef;
         font-size: 14px;
         text-align: center;
         font-weight: 300;
         margin: 20px 0;
         a {
            text-decoration: none;
            color: $third;
            font-weight: 600;
         }
      }
      form {
         display: flex;
         justify-content: center;
         flex-direction: column;
         align-items: center;
         width: 100%;
         .loading {
            md-spinner {
               margin: 10px auto;
               width: 50px;
               height: 50px;
                }
            }
         
         re-captcha {
            div {
                margin: 0 auto !important;
         }
         }
         h3 {
            font-weight: 200;
            font-size: 13px;
            color: $fifth;
            margin: 10px;
            }
         .input-wrapper {
            margin: 25px 0;
            animation: inputSlideUp 0.1s ease backwards;
            &:first-of-type {
               animation-delay: 0.1s;
            }
            &:nth-of-type(2) {
               animation-delay: 0.2s;
            }
            @keyframes inputSlideUp {
               0% {
                  opacity: 0;
                  transform: translateY(90%);
               }
            }
         input {
            width: 300px;
            padding: 10px;
            
         }
        }
        .mat-button {
         color: #efefef;
         margin: 10px 0;
         color: #efefef;
         font-weight: 600;

        }
      }
   }
}